*{
    box-sizing: border-box;
}

body{

    margin-inline: 2rem;
}

.grid{

    display: grid;
    grid-template-columns: repeat(3, 1fr); /*Repártete el espacio de 3 en 3*/
    grid-template-rows: 1fr 2fr; /*La segunda fila va a ser el doble de ancha que la primera. El resto serán auto*/




    p:nth-of-type(3){ /*Párrafo 3*/

        background-color: bisque;
        grid-column: 1 / 3; /*Vete a la primera columna y ocupa dos columnas*/
        grid-row: 1 / 3; /*Quiero que ocupes la primera fila*/
    }

    p:nth-of-type(2){ /*Párrafo 2*/

        background-color: rgba(146, 12, 12, 0.945);
        color: bisque;
        grid-column: -1 / git -3;
        grid-row: 1 / 3;
        z-index: 1;
    }

    p:nth-of-type(5){

        color: crimson;
        background-color: gold;
        position: relative;
        top: 155px; /*desde donde estabas, muévete hacia abajo 20px*/
        left: -80px;
    }
    

}

section.icon{
    min-height: 3rem;
    border: 1px solid;
    border-radius: 3rem;

    p:first-child{
        color: pink;
        background-color: red;
        position: relative;
        top: 0;
        left: 0;
    }
}


section.columns{    
    
    .text-wrapper{

        columns: 3;
        border: 1px solid;   
        column-gap: 2rem; 
        column-rule: 1px solid grey;   
    }    

    p{
        margin-block-start: 0; /*Quito el margin top de los párrafos*/
        margin-block-end: 1.5rem; /*Añado margin bottom de 1.5rem*/
        padding-block: 0; /*Quito el padding de los párrafos*/
    }

    img{

        width: 100%; /*Quedate al 100% de tu contenedor, que es la columna*/
    }
}


